@import "./header.css";
@import "/formacao.css";
@import "/footer.css";

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px;
  padding: 0;
  justify-self: center;
}

h1,
h2,
h3 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 400px;
  display: block;
  justify-self: center;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1700px;
  justify-content: center;
  align-items: center;
}

.introducao h1 {
  font-size: 45px;
  justify-self: left;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 120px;
  height: 100px;
  background: url(detalhe.png) no-repeat center;
  position: absolute;
  top: -15px;
  left: -60px;
  z-index: -1;
}

.introducao p {
  line-height: 1.5;
  font-size: 22px;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1500px;
  justify-self: center;
}

@media (max-width: 1500px) {
  .projetos {
    max-width: 1200px;
    flex-direction: column;
  }
}

.subtitulo {
  font-size: 100px;
  word-break: break-word;
  text-transform: uppercase;
  line-height: 1;
  max-width: 255px;
  letter-spacing: 5px;
  gap: 50px;
  margin: 20px;
  justify-items: center;
  justify-self: center;
}

.projetos-texto {
  font-size: 22px;
  line-height: 1.33;
}

.projeto-titulo {
  font-size: 22px;
}

.projeto-ano {
  font-size: 17px;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin-bottom: 20px;
  background: #f5f5f5;
  position: relative;
  gap: 20px;
}

.projeto::before {
  content: "";
  display: block;
  width: 8px;
  height: 20px;
  background: linear-gradient(#6718fa, #4000b8);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projeto-ano {
  position: absolute;
  top: 20px;
  left: -100px;
}

.projeto_p {
  font-size: 15px;
  line-height: 25px;
}

.ferramentas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.ferramentas li {
  font-size: 15px;
  background: #6718fa;
  border: 20px;
  padding: 5px 10px;
  border-radius: 3px;
  color: #f5f5f5;
}

a {
  font-size: 18px;
  align-content: center;
  text-decoration: none;
  color: #6718fa;
}

a:hover {
  color: #8550e7;
}

.projeto_p {
  grid-column: 1;
}
