body {
  background-color: #1b1b1b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
}

img {
  max-width: 100%;
  display: block;
}

.titulo {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px 10px;
  background-color: aquamarine;
  border-radius: 4px;
  text-decoration: none;
}

a:hover {
  outline: 3px solid red;
  transition: outline 0.1s ease;
}

.topo {
  display: flex;
  text-transform: uppercase;
  gap: 20px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(49, 49, 49);
  max-width: 1000px;
}

.biketext {
  padding: 40px;
  text-align: right;
}

h2,
h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
  line-height: 1.2;
}

.botao {
  background-color: rgb(155, 11, 11);
}

.text1 {
  font-size: 70px;
  text-align: right;
  margin: 20px;
  color: rgb(82, 82, 82);
}
